:host {
  /* 主色 */
  --wc-primary-color: #409EFF;

  /* 链接色 */
  --wc-link-color: #1890ff;

  /* 成功色 */
  --wc-success-color: #67C23A;
  /* 警告色 */
  --wc-warning-color: #E6A23C;
  /* 错误色 */
  --wc-error-color: #F56C6C;

  /*  主要文字颜色 */
  --wc-primary-text-color: #303133;
  /*  常规文字颜色 */
  --wc-regular-text-color: #606266;
  /* 次要文本色 */
  --wc-secondary-text-color: #909399;
  /* 占位文字 */
  --wc-secondary-text-color: #C0C4CC;

}