:host {
  display: block;
}
table {
  width: 100%;
  font-size: var(--font-size-base, var(--wc-font-size-base));
  border-collapse: collapse;
  resize: horizontal;
  overflow: auto;
}

th, td {
  padding: 8px;
  border: 1px solid #ebeef5;
}

table input {
  border: none;
  width: 100%;
  height: 30px;
}

.index {
  text-align: center;
  width: 30px;
}
